
.ipynb_checkpoints/Face_Detection_from_video-checkpoint.ipynb
.ipynb_checkpoints/requirements-checkpoint.txt
.ipynb_checkpoints/Face_Recognition_from_Pictures-checkpoint.ipynb
*.jpg
*.mp4
.ipynb_checkpoints/CLI_Face_Recog Setup-checkpoint.txt
.ipynb_checkpoints/video_face_detection-checkpoint.py
